.navbar {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 4px 8px;
}

.login-btn-container {
  padding: 4px;
  margin: 8px;
}

.card {
  width: 240px;
  background-color: #f8f8f8;
  border: 1px solid #eee;
  padding: 12px;
  margin: 16px;
}
.card > img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.card-skeleton {
  width: 240px;
  height: 300px;
  border: 1px solid #eee;
  background-color: #f8f8f8;
  padding: 12px;
  margin: 16px;
}

.search-container {
  margin: 6px;
  padding: 4px;
}
