.navbar {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 4px 8px;
}

.login-btn-container {
  padding: 4px;
  margin: 8px;
}
